[% title = 'Home' %]


<div style="text-align: center;">
  [% FOREACH post IN posts %]
  <div class="blog-post">
    <h2 class="blog-post-title"><a href="[% c.uri_for(c.controller('Post').action_for('show')) %]/[% post.id %]">[% post.title %]</a></h2>
    <p class="blog-post-meta">DATE by <a href="#">[% c.model('NCModel::User').find(post.user_id).username %]</a></p>

    <p>[% post.content %]</p>
    
  </div>
  [% END %]

  <nav>
    <ul class="pager">
      <li><a href="#">Previous</a></li>
      <li><a href="#">Next</a></li>
    </ul>
  </nav>

</div>
